<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <style>
    header, footer {
    background: cornflowerblue;
    color: white;
    padding: 10px 0;
    text-align: center;
    }
    nav a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }
    main {
        padding: 20px;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;}
        </style>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/flights">Flights</a>
            <a href="/hotels">Hotels</a>
            <a href="/profile">Profile</a>
            <a href="/support">Support</a>
        </nav>
    </header>
    <main>
        <h1>Support</h1>
        <p>If you need help, please contact us through one of the following ways:</p>
        <ul>
            <li>Email: <a href="travelsupport@gmail.com">travelsupport@gmail.com</a></li>
            <li>Phone: 123456780</li>
        </ul>
        <p>Hope we were able to help you!</p>
    </main>
    <footer>
        <p><a href="/support">Support</a></p>
    </footer>
</body>
</html>
